<!DOCTYPE html>

<head>
    <title>Q-Pon</title>

</head>

<% if (user.id == session.userId) {%>

<table class="table is-striped is-fullwidth">
    <tr>
        <th>
            <h4 class="title is-4">My Redeemed coupons: </h4>
        </th>
        <th>
            <h4 class="title is-4">Current Balance: <%= user.coins %></h4>
        </th>
    </tr>
</table>

<div class="columns is-multiline">

    <% user.owners.forEach( function(coupon) { %>

    <div class="column is-one-third">
        <div class="card mb-4">
            <div class="card-image">
                <figure class="image is-4$dimensions">
                    <a href="/coupon/read/<%= coupon.id %>"><img src="<%= coupon.image %>"
                            alt="<%= coupon.restaurant %>"></a>
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <h3 class="title"><a href="/coupon/read/<%= coupon.id %>"><%= coupon.restaurant %></a></h3>
                    <h5 class="subtitle"><%= coupon.title %></h5>
                    <p>Expiry Date: <%= coupon.expiryDate %></p>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</div>

<% } else { %>
    <h1 class="title">Unauthorized Access!</h4>
<% } %>