<!--index.ejs-->

<head>
    <title>Q-Pon | Admin</title>

</head>

<section class="section">
    <div class="container">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Restaurant</th>
                    <th></th>
                    <th></th>
            </tr>
            <% coupons.forEach( function(coupon) { %>

            <tr>
                <td><%= coupon.id %></td>
                <td><%= coupon.title %></td>
                <td><%= coupon.restaurant %></td>
                <td><a href="/coupon/update/<%= coupon.id %>">Update</td>
                <td><a href="/coupon/<%= coupon.id %>/belong">Redeemed Member</td>
            </tr>

            <% }); %>

        </table>
    </div>
</section>