<!--read.ejs-->

<head>
    <title>Q-Pon | Read</title>

</head>

<div class="columns is-variable">
    <div class="column is-three-quarters">
        <figure class="image is-16by$dimensions">
            <img style="object-fit: contain;" src="<%= coupon.image %>">
        </figure>
    </div>
    <div class="column">
        <div class="content">
            <ul>
                <li><strong><%= coupon.restaurant %></strong></li>
                <li><strong><%= coupon.title %></strong></li>
                <li><strong>Coins: </strong><%= coupon.coins %></li>
                <li><strong>Address: </strong><%= coupon.mall %>, <%= coupon.region %></li>
                <li><strong>Expiry Date: </strong><%= coupon.expiryDate %></li>
                <li <% if (coupon.detail == "") { %>style="visibility: hidden;" <% } %>><%= coupon.detail %></li>
            </ul>
            <button type="button" class="button is-success" onclick="redeemCoupon('<%= coupon.id %>','<%= coupon.id %>')">Redeem</button>
        </div>
    </div>
    
</div>
</div>
</div>
<script>
    async function redeemCoupon(id, fk) {
        var r = confirm("Confirm Redeem?");
        
        if (r) {
            var response = await fetch("/user/" + id + "/owners/add/" + fk, {
                method: "POST"
            });

            if (response.ok) {
                //var html = await response.text();
                //alert(html);

                alert("Coupon redeemed.")
                location.assign("/");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };
</script>
