<!--read.ejs-->

<head>
    <title>Q-Pon | Read</title>

</head>

<body onload="check('<%= session.userId %>','<%= coupon.id %>')">
    <div class="columns is-variable">
        <div class="column is-three-quarters">
            <figure class="image is-16by$dimensions">
                <img style="object-fit: contain;" src="<%= coupon.image %>">
            </figure>
        </div>
        <div class="column">
            <div class="content">
                <ul>
                    <li><strong><%= coupon.restaurant %></strong></li>
                    <li><strong><%= coupon.title %></strong></li>
                    <li><strong>Coins: </strong><%= coupon.coins %></li>
                    <li><strong>Address: </strong><%= coupon.mall %>, <%= coupon.region %></li>
                    <li><strong>Expiry Date: </strong><%= coupon.expiryDate %></li>
                    <li <% if (coupon.detail == "") { %>style="visibility: hidden;" <% } %>><%= coupon.detail %></li>
                </ul>
                <% if (session.role == 'member') { %>
                <span id="redeemButton">
                    <% } %>
                </span>
            </div>
        </div>

    </div>
    </div>
    </div>
</body>
<script>
    async function check(id, fk) {
        var response = await fetch("/user/" + id + "/owners/check/" + fk, {
            method: "GET"
        });
        if (response.status == 409) { } else {
            var p = document.getElementById("redeemButton");
            var newElement = document.createElement('span');
            newElement.innerHTML = '<button type="button" class="button is-success" onclick="redeemCoupon(\'<%= session.userId %>\',\'<%= coupon.id %>\')">Redeem</button>' //<button type="button" class="button is-success" onclick="redeemCoupon('<%= session.userId %>','<%= coupon.id %>')">Redeem</button>;
            p.appendChild(newElement);
        }

    }
</script>
<script>
    async function redeemCoupon(id, fk) {
        var r = confirm("Confirm Redeem?");
        if (r) {
            var res = await fetch("/coupon/read/" + fk, {
                method: "GET"
            });
            var res2 = await fetch("/user/" + id + "/owners", {
                method: "GET"
            });
            var coupon = await res.json();
            var user = await res2.json();
            if (user.coins >= coupon.coins) {
                if (coupon.quota > 0) {
                    var response = await fetch("/user/" + id + "/owners/add/" + fk, {
                        method: "POST"
                    });
                    if (response.ok) {
                        alert("Coupon redeemed.")
                        location.assign("/user/" + id + "/owners");
                    } else {
                        alert(response.status + ": " + response.statusText);
                    }
                } else {
                    alert("No quota remain.")
                }
            } else {
                alert("Not enough coins.");
            }
        } else {
            //alert("cancelled");
        }
    };
</script>