<!--search.ejs-->

<head>
    <title>Q-Pon | Search</title>

</head>
<div class="columns features is-vcentered is-multiline" id="p2"></div>

<nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" id="previousButton">Previous</a>
    <a class="pagination-next" id="nextButton">Next page</a>
    <ul class="pagination-list">
        <li>
            <a class="pagination-link" id="firstLink">1</a>
        </li>
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <a class="pagination-link" id="previousLink">45</a>
        </li>
        <li>
            <a class="pagination-link is-current" id="currentLink">46</a>
        </li>
        <li>
            <a class="pagination-link" id="nextLink">47</a>
        </li>
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <a class="pagination-link" id="lastLink">86</a>
        </li>
    </ul>
</nav>

<script>
    function setPagination(limit, offset) {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var firstLink = document.getElementById("firstLink");
        var lastLink = document.getElementById("lastLink");
        var numOfRecords = parseInt("<%= numOfRecords %>");
        //var limit = Math.max(parseInt("<%= req.query.limit %>"), 2) || 2;
        //var offset = Math.max(parseInt("<%= req.query.offset %>"), 0) || 0;
        var where = "region=<%= req.query.region %>&maxCoins=<%= req.query.maxCoins %>&minCoins=<%= req.query.minCoins %>&validOn=<%= req.query.validOn %>";

        //var baseUrl = "/coupon/search?"+ where +"&p?limit=" + limit + "&offset=";

        //firstLink.href = baseUrl + 0;
        //previousButton.href = baseUrl + (offset - limit);
        //previousLink.href = baseUrl + (offset - limit);
        //currentLink.href = baseUrl + offset;
        //nextLink.href = baseUrl + (offset + limit);
        //nextButton.href = baseUrl + (offset + limit);
        //lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;
        firstLink.onclick = function () { fetchPage(where, limit, 0) };
        previousButton.onclick = function () { fetchPage(where, limit, offset - limit) };
        previousLink.onclick = function () { fetchPage(where, limit, offset - limit) };
        currentLink.onclick = function () { fetchPage(where, limit, offset) };
        nextLink.onclick = function () { fetchPage(where, limit, offset + limit) };
        nextButton.onclick = function () { fetchPage(where, limit, offset + limit) };
        lastLink.onclick = function () { fetchPage(where, limit, (Math.ceil(numOfRecords / limit) - 1) * limit) };
        var currentPageNumber = Math.floor(offset / limit) + 1;

        previousLink.innerHTML = currentPageNumber - 1;
        currentLink.innerHTML = currentPageNumber;
        nextLink.innerHTML = currentPageNumber + 1;
        lastLink.innerHTML = Math.ceil(numOfRecords / limit);

        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            //previousButton.href = "";
            previousLink.style.display = "none";
        } else {
            previousButton.removeAttribute("disabled");
            previousLink.style.display = "block";
        }

        if (offset + limit >= numOfRecords) {
            nextButton.setAttribute("disabled", true);
            //nextButton.href = "";
            nextLink.style.display = "none";
        } else {
            nextButton.removeAttribute("disabled");
            nextLink.style.display = "block";
        }
    }

    //previousButton.onload = function () { fetchPage(where, limit, offset) };

</script>

<script>
    async function fetchPage(where, limit, offset) {
        var response = await fetch("/coupon/search?" + where + "&p?limit=" + limit + "&offset=" + offset);
        if (response.ok) {
            setPagination(limit, offset);
            var coupons = await response.json();
            var dynamicCode = '';
            coupons.forEach(function (coupon) {
                dynamicCode +=
                    '<div class="column is-4">' +
                    '<div class="card is-shady">' +
                    '<div class="card-image">' +
                    '<figure class="image is-4by$dimensions">' +
                    '<a href="/coupon/read/' + coupon.id + '"><img src="' + coupon.image + '" alt="Image"></a>' +
                    '</figure>' +
                    '</div>' +
                    '<div class="card-content">' +
                    '<div class="content">' +
                    '<h3 class="title">' +
                    '<a href="/coupon/read/' + coupon.id + '">' + coupon.restaurant + '</a>' +
                    '</h3>' +
                    '<h5 class="subtitle">' + coupon.title + '</h5>' +
                    '<p>Coins: ' + coupon.coins + '</p>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';
            });
            document.querySelector("#p2").innerHTML = dynamicCode +
                '<form action="/coupon/search?" method="get">' +
                '<div class="column">'+
            '<div class="field">'+
            '<label class="label">Region</label>'+
            '<div class="control">'+
            '<div class="select">'+
            '<select name="region">'+
            '<option value="">Select Region</option>'+
            '<option value="HK Island">HK Island</option>'+
            '<option value="Kowloon">Kowloon</option>'+
            '<option value="New Territories">New Territories</option>'+
            '</select>'+
            '</div>'+
            '</div>'+
            '</div>'+
            '<div class="field">'+
            '<label class="label">Max Coins</label>'+
            '<div class="control">'+
            '<input class="input" type="number" name="maxCoins">'+
            '</div>'+
            '</div>'+
            '<div class="field">'+
            '<label class="label">Min Coins</label>'+
            '<div class="control">'+
            '<input class="input" type="number" name="minCoins">'+
            '</div>'+
            '</div>'+
            '<div class="field">'+
            '<label class="label">Valid On</label>'+
            '<div class="control">'+
            '<input class="input" type="date" name="validOn">'+
            '</div>'+
            '</div>'+
            '<div class="field">'+
            '<div class="control">'+
            '<button class="button is-link" onlick="fetchPage(req.query,limit,offset)">Submit</button>'+
            '</div>'+
            '</div>'+
            '</div>'+
            '</form>';
            setPagination(limit, offset);
        } else {
            alert(response.status + ": " + response.statusText);
        }
    };
    fetchPage(0, 2, 0);
</script>